.columns {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}
.columns {
  &__item {
    margin: 2rem 2rem 0 0;
  }
}
.column {
  width: 200px;
  min-height: 200px;
  background: rgba(204, 204, 204, 0.582);
  padding: 1rem 1rem;
  border-radius: 5px;
  &__title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: .75rem;
  }
}
.column__btn {
  &--remove {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #00897b;
    color: white;
    cursor: pointer;
  }
}
