<div class="container">
  <div class="columns">
    <ul class="columns__list"
      *ngIf="columnsService.columns.length; else noColumns"
    >
      <li class="columns__item"
        *ngFor="let column of columnsService.columns let idx = index"
      >
        <div class="column">
          <button class="column__btn--remove"
            (click)="removeId(column.id)"
            >&times;</button>
          <h1 class="column__title">{{ column.title }}</h1>

          <app-todo-form></app-todo-form>
          
          <app-todos></app-todos>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noColumns>
    <p style="text-align: center; font-size: 2rem; padding-top: 2rem;">No Columns Now!</p>
  </ng-template>
</div>
