.tasks {
  &__list {
    list-style: none;
  }
  &__item {
    background: white;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 5px;
  }
}
.task {
  &__title {
    font-size: 1rem;
  }
}
