<div class="tasks">
  <ul class="tasks__list"
    *ngIf="todosService.todos.length; else noTodos">
    <li class="tasks__item"
      *ngFor="let todo of todosService.todos let idx = index"
      >
      <h2 class="task__title">{{ todo.title }}</h2>
  
      <small class="task__date">{{ todo.date | date: 'short' }}</small>
    </li>
  </ul>
  
  <ng-template #noTodos>
    <p style="text-align: center; font-size: 1rem; padding-top: 1rem;">No Todos Now!</p>
  </ng-template>
</div>
