<div class="form">
  <input
    type="text"
    placeholder="Add Todo Title"
    class="form__input"
    [(ngModel)]="title"
    (keydown.enter)="addTodo()"
    >
  <button 
    class="form__btn--add"
    (click)="addTodo()"
    >Add Todo</button>
</div>
