.form {
  &__input {
    width: 100%;
    height: 30px;
    padding: .5rem;
    border: none;
    outline: none;
  }
  &__btn--add {
    position: relative;
    top: -30px;
    width: 45px;
    height: 30px;
    float: right;
    outline: none;
    border: none;
    background: #00897b;
    color: white;
    cursor: pointer;
    font-size: .75rem;
    border-radius: 0;
  }
}