.form {
  width: 100%;
  display: flex;
  height: 30px;
  align-items: center;
  margin: 1rem 0;

  &__input {
    flex-basis: 30%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 0 .5rem;
    margin-right: 2rem;
  }

  &__btn {
    flex-basis: 15%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: .3s all;
    cursor: pointer;
  }
}