<div class="form">
  <input 
    type="text"
    placeholder="Add Board Title"
    class="form__input"
    [(ngModel)]="title"
    (keydown.enter)="addColumn()"
    >
  <button 
    class="form__btn"
    (click)="addColumn()"
    >Add New Board</button>
</div>
